.header {
    background-color: rgba(0, 0, 0, 0.451);
    padding: 20px;
}

.background {
    background-image: url(../../public/img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 600px;
}

.faceImg img {
    height: 250px;
    position: relative;
}

.glassesItem img {
    height: 60px;
}

.col-2 {
    margin: 20px;
}

.glassImg img{
    width: 100%;
    height: 100%;
}

.glassImg {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    transition: all 0.5s;
}