
.header {
    background-color: rgba(0, 0, 0, 0.718);
    height: 100px; 
}

.header h3 {
    color: white;
    text-align: center;
    line-height: 100px;
}

.model {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

#glassesList {
    background-image: url(../../public/img/background.jpg);
    background-size: 100%;
}

#glassesList img {
    max-width: 100%;
    margin: auto;
    height: 250px;
}

#glassesItem {
    margin-bottom: 20px;
}

